/* config */
.center_stuf {
  display: grid;
  place-items: center;
}

/* navbar */
.active-link {
  font-size: 1.1rem;
  color: #53e3fb;
}

/* option */
.option {
  text-align: center;
  padding: 0.5rem;
  width: fit-content;
  border-radius: 20px;
}

.option h2,
p {
  margin-bottom: 0.6rem;
  margin-top: 0.5rem;
}

.user-icon {
  font-size: 9rem;
  padding: 2rem;
  border-radius: 50%;
}

.user-icon.admin {
  background-color: rgba(255, 0, 0, 0.8);
}

.user-icon.manager {
  background-color: rgba(0, 255, 0, 0.8);
}

.user-icon.developer {
  background-color: rgba(0, 0, 255, 0.8);
}
