/* config */
.center_stuf {
  display: grid;
  place-items: center;
}

/* navbar */
.active-link {
  font-size: 1.1rem;
  color: #53e3fb;
}

/* option */
.option {
  text-align: center;
  padding: 0.5rem;
  width: fit-content;
  border-radius: 20px;
}

.option h2,
p {
  margin-bottom: 0.6rem;
  margin-top: 0.5rem;
}

.user-icon {
  font-size: 9rem;
  padding: 2rem;
  border-radius: 50%;
}

.user-icon.admin {
  background-color: rgba(255, 0, 0, 0.8);
}

.user-icon.manager {
  background-color: rgba(0, 255, 0, 0.8);
}

.user-icon.developer {
  background-color: rgba(0, 0, 255, 0.8);
}

.img-input {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 2rem;
}

.img-input > input {
  position: absolute;
  bottom: 0;
  left: 0;
  outline: none;
  width: 100%;
  padding: 0.6rem 0.8rem;
  color: transparent;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.img-input > input::-webkit-file-upload-button {
  visibility: hidden;
}

.img-input > input::after {
  content: '\f030';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 1.3rem;
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alerts-wrap {
  width: 50%;
  font-size: 1.2rem;
  margin: auto;
  margin-bottom: 1rem;
}

.alert {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.5rem;
  border-radius: 100vmax;

  margin-bottom: 0.7rem;
}

.alert-danger {
  background-color: rgba(255, 0, 0, 0.3);
}

.alert-success {
  background-color: rgba(0, 255, 0, 0.3);
}

.alert-warning {
  background-color: rgba(255, 255, 0, 0.5);
}

.alert-msg {
  flex: 90% 1 1;
  padding-left: 1rem;
}

.alert-btn {
  flex: 10% 1 0;
  font-size: 1.5rem;
}

.alert-svg {
  cursor: pointer;
  transition: 0.3s;
  margin: auto;
  text-align: center;
  padding: 0.5rem;
}

.alert-svg:hover {
  color: #53e3fb;
}

.profile-card {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0.4rem;
}

.profile-card .image {
  margin-left: 0.6rem;
  display: grid;
  place-items: center;
}

.profile-card .image img {
  width: 3.5rem;
  height: 3.5rem;
  object-fit: cover;
  border-radius: 50%;
}

.profile-card .name {
  margin: auto;
}

.profile-card .name p {
  margin: 0;
  height: auto;
  line-height: normal;
  padding: 0.1rem;
  text-align: left;
}

.profile-card .name .email {
  text-transform: lowercase;
  font-family: sans-serif;
}
