hr {
  margin: 0.1rem;
}

#wrapper {
  width: 100%;
}

.dashbord-container {
  display: flex;
  overflow-x: hidden;
  min-height: 94vh;
}

.band-wrapper {
  display: flex;
  position: fixed;
  width: 60px;
  height: 100vh;
  bottom: 0;
}

.band-1 {
  width: 60px;
  height: 100%;
  position: relative;
}

.band-1-content {
  position: absolute;
  bottom: 0;
  width: 150px;
  height: 100%;
  background-color: #181b2c;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.main {
  flex: 100% 1 1;
  transform: translateX(60px);
  background-color: #242943;
  z-index: 4;
  transition: transform 0.4s ease-in-out;
  display: flex;
}

.main.open-band-1 {
  transform: translateX(150px);
}

.band-1-content > div {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.band-1-content > div > .profile-pic {
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin: 10px;
  margin-right: 15px;
  border-radius: 50%;
}

.band-1-content > div > svg {
  margin: 10px;
  margin-right: 15px;
  color: #384169;
}

.projects-band {
  display: flex;
  background-color: #1c203a;
}

.pro-container {
  order: 1;
  width: 5px;
  overflow-x: hidden;
  overflow-y: auto;
  transition: width 0.3s ease-out;
}

.control {
  width: 50px;
  order: 2;
}

.control .btn,
.texting .btn {
  text-align: center;
  font-size: 1.5rem;
  padding: 0.2rem 1rem;
  background-color: #181b2c;
  cursor: pointer;
}

.control .btn svg {
  transition: transform 0.3s ease-out;
}

.control.open .btn svg {
  transform: rotate(180deg) translateX(5%);
}

.control.open ~ .pro-container {
  width: 300px;
}

.control h4 {
  transform: rotate(90deg) translateX(50%);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 1.5rem;
  margin: 0;
  opacity: 0.8;
}

.texting {
  z-index: 6;
  display: block;
  position: absolute;
  right: 0;
  top: 20%;
}

.texting .btn {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  padding: 0.5rem;
}

.pro-inner {
  width: 300px;
  padding: 1rem;
}

.pro-inner .form-link,
.pro-inner .pro-link {
  margin: 0.8rem 1rem;
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
  padding-right: 10%;
}

.form-link > h3,
.pro-link > h3 {
  margin-bottom: 0;
  margin-left: 8%;
}

.form-link > .icon {
  height: 2.5rem;
  width: 2.5rem;
  font-size: 1.5rem;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  transition: 0.5s transform ease-in-out;
}
.pro-link-prog {
  height: 2.6rem;
  width: 2.6rem;
  font-size: 1.2rem;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  font-weight: 800;
  position: relative;
  transition: transform 0.3s ease-in-out;
}

.pro-link-prog svg {
  position: relative;
  height: 2.6rem;
  width: 2.6rem;
}

.pro-link:hover .pro-link-prog {
  transform: scale(1.2);
}

.pro-link-prog svg circle {
  height: 2.6rem;
  width: 2.6rem;
  fill: none;
  stroke-width: 2.2;
  transform-origin: center;
  transform: translate(1px, -1px) rotate(-90deg);
  stroke-linecap: round;
  stroke-dasharray: 125;
}

.pro-link-prog svg circle.red {
  stroke: rgba(255, 0, 0, 0.9);
}

.pro-link-prog svg circle.yellow {
  stroke: rgba(255, 255, 0, 0.9);
}

.pro-link-prog svg circle.green {
  stroke: rgba(0, 255, 0, 0.9);
}

.pro-link-prog .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pro-link-prog .number h4 {
  margin-bottom: 0;
  font-size: 1.1rem;
  color: #eee;
}
.pro-link-prog .number h4 span {
  font-size: 0.6rem;
}

.form-link:hover .icon {
  transform: scale(1.2) rotate(180deg);
}

.pro-main {
  padding: 1rem 2rem;
  width: 100%;
}

.pro-main h1 {
  line-height: normal;
  margin-bottom: 0;
}

.ck-editor__main * {
  color: #181b2c;
  font-weight: 505;
}

.selecet-staff {
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: 2rem;
}

.selecet-staff > div {
  flex: 100% 1 1;
  display: flex;
  flex-direction: column;
  min-height: 5rem;
  max-height: 10rem;
  overflow-y: auto;
}
