#wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
}

.dashbord-container {
  display: flex;
  flex: 100% 1 1;
  overflow-x: hidden;
}

.band-wrapper {
  display: flex;
}

.band-1 {
  width: 60px;
  height: 100%;
  position: relative;
}

.band-1-content {
  position: absolute;
  bottom: 0;
  width: 150px;
  height: 100%;
  background-color: #181b2c;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.main {
  flex: 100% 1 1;
  background-color: #242943;
  z-index: 4;
  transition: transform 0.4s ease-in-out;
}

.main.open-band-1 {
  transform: translateX(80px);
}
