.containner {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

.containner::before {
  content: '';
  background: #bfc7f5;
  opacity: 0.9;
  filter: blur(9px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.wrapper {
  width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.bar {
  width: 0.5rem;
  height: 80%;
  border-radius: 100vmax;
  background-color: #2238b6;
  -webkit-transform: scaleY(0.4);
  transform: scaleY(0.4);
  -webkit-animation: bounce 1.2s ease-in-out infinite;
  animation: bounce 1.2s ease-in-out infinite;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }
  50% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  100% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }
  50% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  100% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }
}

#bar2 {
  -webkit-animation-delay: 100ms;
  animation-delay: 100ms;
}

#bar4 {
  -webkit-animation-delay: 100ms;
  animation-delay: 100ms;
}

#bar1 {
  -webkit-animation-delay: 200ms;
  animation-delay: 200ms;
}

#bar5 {
  -webkit-animation-delay: 200ms;
  animation-delay: 200ms;
}
